@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

div {
  position: inherit;
}

.navBar_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  height: 80px;
  padding: 5px 30px;
  max-width: 1600px;
}
@media (min-width: 1440px) {
  .navBar_wrap {
    padding: 5px 60px;
  }
}
.navBar_wrap .logo {
  width: 90px;
}
.navBar_wrap .buttonsMenu_group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBar_wrap .buttonsMenu_group .signUp_button {
  margin-top: 0;
  background-color: #4f62f6;
  color: white;
  width: 167px;
  height: 40px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  font-size: 14px;
  display: none;
}
@media (min-width: 768px) {
  .navBar_wrap .buttonsMenu_group .signUp_button {
    display: block;
  }
}
.navBar_wrap .buttonsMenu_group .burger {
  margin-left: 40px;
  height: 30px;
  width: auto;
}
@media (min-width: 1440px) {
  .navBar_wrap .buttonsMenu_group .burger {
    display: none;
  }
}
.navBar_wrap .desktopMenu {
  display: none;
}
@media (min-width: 1440px) {
  .navBar_wrap .desktopMenu {
    display: block;
    position: relative;
    width: 100%;
  }
  .navBar_wrap .desktopMenu button {
    position: absolute;
    right: 50px;
  }
}
.navBar_wrap .mobileMenu {
  width: 100%;
  position: absolute;
  top: 100px;
  left: 0;
  height: calc(100vh - 100px);
}
@media (min-width: 1440px) {
  .navBar_wrap .mobileMenu {
    display: none;
  }
}
.navBar_wrap .mobileMenu .menu_links {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.navBar_wrap a {
  color: white;
}
@media (min-width: 1440px) {
  .navBar_wrap a {
    color: #333333;
    margin-left: 40px;
  }
}

.welcomePage_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  background-color: rgba(99, 72, 255, 0.0901960784);
  max-width: 1600px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .welcomePage_wrap {
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .welcomePage_wrap {
    padding: 30px 60px;
    flex-direction: row;
  }
}
.welcomePage_wrap .text_group {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1439px) {
  .welcomePage_wrap .text_group button {
    align-self: center;
  }
}
@media (max-width: 767px) {
  .welcomePage_wrap h1 {
    font-size: 40px;
    line-height: 44px;
  }
}
.welcomePage_wrap p {
  margin-top: 30px;
}
@media (min-width: 1440px) {
  .welcomePage_wrap p {
    width: 60%;
  }
}
.welcomePage_wrap button {
  margin-top: 30px;
  background-color: #4f62f6;
  color: white;
  width: 280px;
  height: 60px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
}
.welcomePage_wrap img {
  margin-top: 50px;
}
@media (min-width: 1440px) {
  .welcomePage_wrap img {
    margin: 50px;
  }
}

.getStart_wrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  max-width: 1600px;
}
@media (min-width: 768px) {
  .getStart_wrap {
    height: 1030px;
  }
}
@media (min-width: 860px) {
  .getStart_wrap {
    height: 980px;
  }
}
@media (min-width: 910px) {
  .getStart_wrap {
    height: 920px;
  }
}
@media (min-width: 1440px) {
  .getStart_wrap {
    height: 870px;
  }
}
.getStart_wrap h1 {
  align-self: flex-start;
}
.getStart_wrap .stage_group {
  max-width: 1090px;
}
.getStart_wrap .stage_group img {
  display: none;
}
@media (min-width: 768px) {
  .getStart_wrap .stage_group {
    display: grid;
    grid-template: "a b" "c d";
    grid-column-gap: 6vw;
    width: 100%;
    position: relative;
  }
  .getStart_wrap .stage_group img {
    display: block;
  }
  .getStart_wrap .stage_group .gridA {
    grid-area: "a";
  }
  .getStart_wrap .stage_group .gridB {
    grid-area: "b";
    top: 100px;
  }
  .getStart_wrap .stage_group .gridB img {
    position: relative;
    right: 50%;
    top: 20px;
    z-index: -1;
  }
  .getStart_wrap .stage_group .gridC {
    grid-area: "c";
    bottom: 40px;
  }
  .getStart_wrap .stage_group .gridC img {
    position: relative;
    left: 50%;
    top: 20px;
    z-index: -1;
  }
  .getStart_wrap .stage_group .gridD {
    grid-area: "d";
    top: 140px;
  }
  .getStart_wrap .stage_group .gridD img {
    position: relative;
    right: 50%;
    top: 20px;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .getStart_wrap {
    padding: 30px 60px;
  }
}

.stage_wrap {
  margin-top: 20px;
  max-width: 500px;
  padding: 24px;
  border-radius: 30px;
  border: 2px solid #4f62f6;
  background-color: white;
}
.stage_wrap .stage_number {
  color: #4f62f6;
}
.stage_wrap h3 {
  font-size: 1.4em;
  color: #333333;
}
.stage_wrap p {
  margin-top: 20px;
  font-size: 1.4em;
}

.bigInvest_wrap {
  margin-top: 30px;
  padding: 30px 30px;
  position: relative;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  .bigInvest_wrap {
    padding: 30px 60px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.bigInvest_wrap .investBG {
  position: absolute;
  top: 75px;
  left: 30px;
  width: 250px;
  height: 50px;
  background-color: rgba(99, 72, 255, 0.0901960784);
  z-index: -1;
}
@media (min-width: 768px) {
  .bigInvest_wrap .investBG {
    top: 105px;
    height: 65px;
  }
}
@media (min-width: 1440px) {
  .bigInvest_wrap .investBG {
    left: 60px;
  }
}
.bigInvest_wrap h1 {
  max-width: 500px;
  align-self: flex-start;
}
@media (max-width: 767px) {
  .bigInvest_wrap h1 {
    max-width: 400px;
  }
}
.bigInvest_wrap .navigation_icon {
  height: 20px;
  width: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  box-sizing: content-box;
  padding: 14px;
  position: absolute;
}
.bigInvest_wrap .navigation_icon.left {
  bottom: -40px;
  left: 30px;
}
.bigInvest_wrap .navigation_icon.right {
  bottom: -40px;
  right: 30px;
}
@media (min-width: 768px) {
  .bigInvest_wrap .navigation_icon.left {
    bottom: 200px;
    left: 30px;
  }
  .bigInvest_wrap .navigation_icon.right {
    bottom: 200px;
    right: 30px;
  }
}
@media (min-width: 1440px) {
  .bigInvest_wrap .navigation_icon.left {
    top: 200px;
    left: 60px;
  }
  .bigInvest_wrap .navigation_icon.right {
    top: 200px;
    left: 130px;
  }
}
.bigInvest_wrap .currentCardNumber {
  position: absolute;
  bottom: -30px;
  color: #4f62f6;
}
@media (min-width: 1440px) {
  .bigInvest_wrap .currentCardNumber {
    right: 520px;
    bottom: -10px;
  }
}

.feedbackCard_wrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 508px;
}
@media (min-width: 1440px) {
  .feedbackCard_wrap {
    margin-top: 50px;
  }
}
.feedbackCard_wrap .userPhoto {
  width: 73px;
  height: 73px;
  border-radius: 50%;
}
@media (min-width: 1440px) {
  .feedbackCard_wrap .userPhoto {
    position: absolute;
    top: -15px;
    left: 10px;
  }
}
.feedbackCard_wrap .aboutUser {
  text-align: center;
  margin-top: 10px;
}
@media (min-width: 1440px) {
  .feedbackCard_wrap .aboutUser {
    position: relative;
    right: 70px;
    bottom: 8px;
    text-align: left;
  }
}
.feedbackCard_wrap .quotes {
  margin-top: 20px;
  width: 33px;
  height: 27px;
  color: #4f62f6;
}
@media (min-width: 1440px) {
  .feedbackCard_wrap .quotes {
    position: absolute;
    top: 50px;
    left: -45px;
  }
}
.feedbackCard_wrap h3 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 1440px) {
  .feedbackCard_wrap h3 {
    text-align: left;
  }
}

.questions_wrap {
  margin-top: 40px;
  padding: 30px 30px;
  max-width: 1600px;
}
@media (min-width: 1440px) {
  .questions_wrap {
    padding: 30px 60px;
  }
}

.questionCard_wrap {
  margin-top: 20px;
  padding: 24px;
  border-radius: 15px;
  border: 2px solid #4f62f6;
}
.questionCard_wrap .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questionCard_wrap .toOpen {
  height: 32px;
  width: 32px;
}
.questionCard_wrap .toClose {
  height: 32px;
  width: 32px;
}

.contactUs_wrap {
  padding: 30px 30px;
  background-color: rgba(99, 72, 255, 0.0901960784);
  max-width: 1600px;
}
@media (min-width: 1440px) {
  .contactUs_wrap {
    padding: 30px 60px;
  }
}
.contactUs_wrap h4 {
  margin-top: 15px;
}

.form_wrap {
  margin-top: 30px;
  padding: 10px 20px 30px 20px;
  border: 2px solid #4f62f6;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.form_wrap button {
  margin-top: 30px;
  background-color: #4f62f6;
  color: white;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
}
.form_wrap button:hover {
  background-color: #7181fc;
}
.form_wrap button:active {
  background-color: #354bf4;
}
.form_wrap button:disabled {
  color: #828282;
  background-color: #e0e0e0;
}
.form_wrap input,
.form_wrap textarea {
  margin-top: 30px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
}
.form_wrap input:focus,
.form_wrap textarea:focus {
  outline: none;
  border-color: black !important;
}
.form_wrap input::-moz-placeholder, .form_wrap textarea::-moz-placeholder {
  color: rgb(170, 170, 170);
}
.form_wrap input::placeholder,
.form_wrap textarea::placeholder {
  color: rgb(170, 170, 170);
}
.form_wrap textarea {
  height: 80px;
}
.form_wrap .text_error {
  color: red;
}

.footer_wrap {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
}
@media (min-width: 1440px) {
  .footer_wrap {
    padding: 30px 60px;
  }
}
.footer_wrap img {
  width: 90px;
}
.footer_wrap .linksGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footer_wrap .linksGroup a {
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
}
.footer_wrap .infoText,
.footer_wrap .disclaimer {
  margin-top: 30px;
}
.footer_wrap .infoText p,
.footer_wrap .disclaimer p {
  margin-top: 20px;
}
.footer_wrap .copyrightsGroup {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer_wrap .copyrightsGroup a {
  margin-top: 30px;
  color: #828282;
}/*# sourceMappingURL=main.css.map */