@import "../../scss/global/brakepoints";
.getStart_wrap {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px;
  max-width: 1600px;

  @include media(">=tablet") {
    height: 1080px;
  }
  @include media(">=860px") {
    height: 1030px;
  }
  @include media(">=910px") {
    height: 1050px;
  }
  @include media(">=desktop") {
    height: 1030px;
  }
  h1 {
    max-width: 250px;
    align-self: flex-start;
    position: relative;
    &:after {
      content: "";
      width: 220px;
      height: 50px;
      background-color: $color4;
      z-index: -1;
      position: absolute;
      left: -5px;
      top: 88px;
    }
    @include media(">=tablet") {
      max-width: 520px;
      &:after {
        width: 350px;
        height: 75px;
        top: 75px;
      }
    }
  }

  .stage_group {
    margin-top: 60px;
    max-width: 1090px;
    img {
      display: none;
    }
    @include media(">=tablet") {
      img {
        display: block;
      }
      display: grid;
      grid-template:
        "a b"
        "c d";
      grid-column-gap: 6vw;
      width: 100%;
      position: relative;
      .gridA {
        grid-area: "a";
      }
      .gridB {
        grid-area: "b";
        top: 100px;

        img {
          position: relative;
          right: 50%;
          top: 20px;
          z-index: -1;
        }
      }
      .gridC {
        grid-area: "c";
        bottom: 40px;

        img {
          position: relative;
          left: 50%;
          top: 20px;
          z-index: -1;
        }
      }
      .gridD {
        grid-area: "d";
        top: 140px;

        img {
          position: relative;
          right: 50%;
          top: 20px;
          z-index: -1;
        }
      }
    }
  }

  @include media(">=desktop") {
    padding: 30px 60px;
  }
}
