@import "../../scss/global/colors";
@import "../../scss/global/mixins";
@import "../../scss/global/brakepoints";
.navBar_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  height: 80px;
  padding: 5px 30px;
  max-width: 1600px;
  @include media(">=desktop") {
    padding: 5px 60px;
  }

  .logo {
    width: 90px;
  }
  .buttonsMenu_group {
    display: flex;
    align-items: center;
    justify-content: center;

    .signUp_button {
      @include button(167px, 40px, 0);
      font-size: 14px;
      display: none;
      @include media(">=tablet") {
        display: block;
      }
    }
    .burger {
      margin-left: 40px;
      height: 30px;
      width: auto;
      @include media(">=desktop") {
        display: none;
      }
    }
  }
  .desktopMenu {
    display: none;
    @include media(">=desktop") {
      display: block;
      position: relative;
      width: 100%;
      button {
        position: absolute;
        right: 50px;
      }
    }
  }
  .mobileMenu {
    width: 100%;
    max-height: 1200px;
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    min-height: 400px;
    max-height: 1000px;
    &::after {
      content: "";
      width: 100%;
      height: 20px;
      background: linear-gradient($color12, transparent);
      position: absolute;
      bottom: -19px;
      left: 0;
    }

    @include media(">=desktop") {
      display: none;
    }
    .menu_links {
      width: 100%;
      height: 100%;
      background-color: $color12;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }
  a {
    color: $color11;
    @include media(">=desktop") {
      color: $color2;
      margin-left: 40px;
    }
  }
}
