@import "../../scss/global/colors";
@import "../../scss/global/brakepoints";
.contactUs_wrap {
  padding: 30px 30px;
  background-color: $color4;
  max-width: 1600px;
  @include media(">=desktop") {
    padding: 30px 60px;
  }
  h4 {
    margin-top: 15px;
  }
}
