@import "../../scss/global/colors";
@import "../../scss/global/brakepoints";
.contactUs_wrap {
  margin-top: 70px;
  padding: 70px 30px;
  background-color: $color4;
  max-width: 1600px;
  @include media(">=desktop") {
    padding: 70px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .textInformation {
    @include media(">=desktop") {
      max-width: 480px;
    }
    h4 {
      margin-top: 15px;
    }
  }
}
