$color1: #4f62f6; // primary color, buttons, borders
$color2: #333333; // text
$color3: #e0e0e0; // light grey
$color4: rgb(237, 246, 248); // light blue
$color5: red; // errors
$color6: #e0e0e0; // disabled
$color7: #354bf4; // pressed button
$color8: #7181fc; // hover button
$color9: #e0e0e0; // default form fields
$color10: #828282; // text on disabled button


