$color1: #4f62f6; // primary color, buttons, borders
$color2: #333333; // text
$color3: #e0e0e0; // light grey
$color4: #6348ff17; // light purple
$color5: red; // errors
$color6: #e0e0e0; // disabled
$color7: #354bf4; // pressed button
$color8: #7181fc; // hover button
$color9: #e0e0e0; // default form fields
$color10: #828282; // text on disabled button
$color11: white; // white
$color12: rgba(0, 0, 0, 0.85); //mobile menu
$color13: rgb(170, 170, 170); // placeholders
