@import "./colors";
@mixin button($width: 280px, $height: 60px, $margin: 30px) {
  margin-top: $margin;
  background-color: $color1;
  color: white;
  width: $width;
  height: $height;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
}
