@import "../../scss/global/colors";
@import "../../scss/global/brakepoints";

.footer_wrap {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  @include media(">=desktop") {
    padding: 30px 60px;
  }
  img {
    width: 90px;
  }
  .linksGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    a {
      font-size: 15px;
      font-weight: 500;
      margin-top: 30px;
    }
  }
  .infoText,
  .disclaimer {
    margin-top: 30px;
    p {
      margin-top: 20px;
    }
  }
  .copyrightsGroup {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      margin-top: 30px;
      color: $color10;
    }
  }
}
