@import "../../scss/global/colors";
@import "../../scss/global/mixins";
@import "../../scss/global/brakepoints";
.welcomePage_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  background-color: $color4;
  max-width: 1600px;

  @include media(">=tablet", "<desktop") {
    text-align: center;
  }
  @include media(">=desktop") {
    padding: 30px 60px;
    flex-direction: row;
  }
  .text_group {
    display: flex;
    flex-direction: column;
    @include media(">=tablet", "<desktop") {
      align-items: center;
    }
    button {
      @include media("<desktop") {
        align-self: center;
      }
    }
  }
  h1 {
    max-width: 400px;
    @include media(">=tablet") {
      max-width: 550px;
    }
  }
  p {
    margin-top: 30px;
    @include media(">=desktop") {
      width: 60%;
    }
  }
  button {
    @include button(280px);
  }
  img {
    margin-top: 50px;
    @include media(">=desktop") {
      margin: 50px;
    }
  }
}
