@import "../../../scss/global/colors";
@import "../../../scss/global/mixins";
.form_wrap {
  margin-top: 30px;
  padding: 10px 20px 30px 20px;
  border: 2px solid $color1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    @include button(200px);

    &:hover {
      background-color: $color8;
    }

    &:active {
      background-color: $color7;
    }
    &:disabled {
      color: $color10;
      background-color: $color6;
    }
  }

  input,
  textarea {
    margin-top: 30px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid $color9;
    padding: 10px 15px;
    &:focus {
      outline: none;
      border-color: black !important; // used important property here
    }
    &::placeholder {
      color: rgb(170, 170, 170);
    }
  }
  textarea {
    height: 80px;
  }

  .text_error {
    color: $color5;
  }
}
