@import "../../../scss/global/colors";
@import "../../../scss/global/mixins";
@import "../../../scss/global/brakepoints";
.form_wrap {
  padding: 10px 20px 30px 20px;
  border: 2px solid $color1;
  border-radius: 15px;
  margin: auto;
  background-color: $color11;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(">=phone") {
    margin-top: 50px;
  }
  @include media(">=desktop") {
    width: 585px;
    padding: 40px 20px 60px 20px;
  }

  button {
    @include button(200px);

    &:hover {
      background-color: $color8;
    }

    &:active {
      background-color: $color7;
    }
    &:disabled {
      color: $color10;
      background-color: $color6;
    }
  }
  .input_wrap,
  .textarea_wrap {
    width: 100%;
    position: relative;
    input,
    textarea {
      margin-top: 30px;
      width: 100%;
      height: 45px;
      border-radius: 5px;
      border: 1px solid $color9;
      padding: 10px 15px;
      &:focus {
        outline: none;
        border-color: black !important; // used important property here
      }
      &::placeholder {
        color: $color13;
      }
    }
    textarea {
      height: 80px;
    }

    .text_error {
      position: absolute;
      color: $color5;
      font-size: small;

      @include media(">=tablet") {
        bottom: -20px;
        font-size: 15px;
        line-height: 16px;
      }
    }
  }
}
