@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Nunito+Sans&display=swap");

@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("./assets/fonts/MuseoSansCyrl500.ttf");
}

h1,
h2,
h3,
h4 {
  font-family: "Museo Sans Cyrl";
}
:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 64px;
  line-height: 72px;
}
h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
